{% extends 'GPSTrackBundle::layout.html.twig' %}

{% block content -%}
    <h2>Actualizar Cliente</h2>

    <div class="col-sm-4">
        {{ form(form) }}
    </div>
    <div class="col-sm-4">
        <h3>Logo actual{% if not client.logo %} <small>(por defecto)</small>{% endif %}</h3>
        <img src="{{ client.webPath|imagine_filter('logo_big') }}" alt=""/>
    </div>
{% endblock %}