<div class="col-sm-4">
    <h2>Cambiar contraseña</h2>

    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST">
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
    </form>
</div>
