{% macro label(role) %}
    <span class="label label-primary">{{ role|replace({'_': '.'})|lower|trans({}, 'GPSUserBundle') }}</span>
{% endmacro %}

{% macro labels(roles) %}
    {% import _self as self %}
    {% for role in roles %}
        {% if role != 'ROLE_DEFAULT' %}
            {{ self.label(role) }}
        {% endif %}
    {% endfor %}
{% endmacro %}