{% extends 'GPSTrackBundle::layout.html.twig' %}

{% block body %}
    {{ include('GPSAdminBundle::navbar.html.twig') }}

    <div class="container">
        {{ include('GPSTrackBundle::alerts.html.twig') }}

        {% block content %}{% endblock %}
    </div>

{% endblock body %}