<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path(app.user.opciones.homepage) }}">ExpertGPS</a>
    </div>

    <div class="collapse navbar-collapse navbar-collapse">
        {{ knp_menu_render('admin', {'allow_safe_labels': true}) }}
        {{ knp_menu_render('user', {'allow_safe_labels': true}) }}
    </div>
</nav>