
                {%- for action in record_actions %}

                <a class="btn btn-xs btn-default" href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { 'id': " ~ entity|lower ~ ".id }) }}" }}">{{ action|capitalize }}</a>

                {%- endfor %}