<a class="btn btn-default" href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}">Volver</a>
{% if ('edit' in actions) and (not hide_edit) %}
<a class="btn btn-primary" href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': " ~ entity|lower ~ ".id }) }}" }}">Editar</a>
{% endif %}
{% if ('delete' in actions) and (not hide_delete) %}
{{ '{{ form(delete_form) }}' }}
{% endif %}