@import "bootstrap/bootstrap.less";
@import "bootstrap/theme.less";

body {
  padding-top: 50px;
  & > .container {
    padding-top: 20px;
  }
}

/** BOOTSTRAP FIX **/

// header menu fix
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
}

// white brand
.navbar-inverse .navbar-brand {
  color: #ffffff;
}

// hide modal scrollbars
body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  margin-right: 0px;
}

.modal {
  overflow: hidden;
}

/** CHOSEN FIX **/

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
  height: auto;
}

/** LOGIN **/

body.login {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;

  .form-login {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-login .form-login-heading,
  .form-login .checkbox {
    margin-bottom: 10px;
  }
  .form-login .checkbox {
    font-weight: normal;
  }
  .form-login .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .form-login .form-control:focus {
    z-index: 2;
  }
  .form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

/** DESKTOP **/

#desktop-filter tr[data-vehicle] {
  &:hover {
//    cursor: pointer;
  }
}

.icon {
  .glyphicon;
  &.icon-panic {
    color: @brand-danger;
    .glyphicon-exclamation-sign;
  }
}

/** TABLE **/

table.sortable {
  .table-asc {
    position: relative;
    span {
      .glyphicon-chevron-up;
    }
  }
  .table-desc {
    position: relative;
    span {
      .glyphicon-chevron-down;
    }
  }
  span.order {
    .glyphicon;
    position: absolute;
    right: 5px;
    top: 7px;
  }
}

/** UTILS **/

.block {
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
  background-color: #fafafa;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, .05);
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
  &:after {
    content: attr(data-content);
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  &.container {
    width: auto;
  }
}


/** NAVBAR **/

.navbar-logo {
  display: inline-block;
  height: 50px;
  padding: 5px 15px 5px 25px;
}