{% extends 'GPSTrackBundle::layout.html.twig' %}

{% block content -%}
    <div class="col-sm-4">
        <h1>Actualizar Chofer</h1>

        {{ form(form) }}

                <a class="btn btn-default" href="{{ path('chofer') }}">Volver</a>
{{ form(delete_form) }}
    </div>
{% endblock %}
