{% extends 'GPSTrackBundle::layout.html.twig' %}

{% block content -%}
    <h1>
        Choferes
                <a class="btn btn-primary" href="{{ path('chofer_new') }}">Nuevo</a>
            </h1>

    <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
        <thead>
            <tr>
                <th colspan="2">Nombre</th>
                <th>Dni</th>
                <th colspan="3">Licencia</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for chofer in choferes %}
            <tr>
                <td>{{ chofer.apellido }}</td>
                <td>{{ chofer.nombre }}</td>
                <td>{{ chofer.dni }}</td>
                <td>{{ chofer.licencia }}</td>
                <td>{{ chofer.licenciaTipo }}</td>
                <td>{% if chofer.licenciaExpira %}{{ chofer.licenciaExpira|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <a class="btn btn-xs btn-default" href="{{ path('chofer_edit', { 'id': chofer.id }) }}">
                        <span class="glyphicon glyphicon-pencil"></span> Editar
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
