{% extends 'GPSTrackBundle::layout.html.twig' %}

{% block content -%}
    <h1>Chofer</h1>

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>{{ chofer.id }}</dd>
        <dt>Nombre</dt>
        <dd>{{ chofer.nombre }}</dd>
        <dt>Apellido</dt>
        <dd>{{ chofer.apellido }}</dd>
        <dt>Licencia</dt>
        <dd>{{ chofer.licencia }}</dd>
        <dt>Licenciaexpira</dt>
        <dd>{{ chofer.licenciaExpira|date('Y-m-d H:i:s') }}</dd>
        <dt>Licenciatipo</dt>
        <dd>{{ chofer.licenciaTipo }}</dd>
        <dt>Dni</dt>
        <dd>{{ chofer.dni }}</dd>
        <dt>Tiposangre</dt>
        <dd>{{ chofer.tipoSangre }}</dd>
        <dt>Foto</dt>
        <dd>{{ chofer.foto }}</dd>    </dl>

        <a class="btn btn-default" href="{{ path('chofer') }}">Volver</a>
<a class="btn btn-primary" href="{{ path('chofer_edit', { 'id': chofer.id }) }}">Editar</a>
{{ form(delete_form) }}
{% endblock %}
