{% extends 'GPSTrackBundle::layout_map.html.twig' %}

{% block content -%}
    <div class='col-sm-3'>
        <h1>Editar GeoZona</h1>

        {{ form(form) }}

        <a class='btn btn-default' href='{{ path('geozone') }}'>Volver</a>
        {{ form(delete_form) }}
    </div>
    <div class='col-sm-9 clearfix' id='map_canvas'></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@GPSTrackBundle/Resources/js/geozone.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type='text/javascript'>
        $(function () {
            var json = '{{ geozone.serialized|raw }}';
            var data = JSON && JSON.parse(json) || $.parseJSON(json);
            {% if (geozone.type == 1) %}
            geozone_rectangle(map, toBounds(data.bounds));
            {% elseif (geozone.type == 2) %}
            geozone_circle(map, toPoint(data.center), data.radius);
            {% elseif (geozone.type == 3) %}
            geozone_complex(map, toPaths(data.paths));
            {% endif %}
        });
    </script>
{% endblock %}
