{% extends 'GPSTrackBundle::layout.html.twig' %}

{% block content -%}
    <h1>
        GeoZonas
        <a class="btn btn-primary" href="{{ path('geozone_new') }}">Nuevo</a>
    </h1>

    <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Color</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for geozone in geozones %}
            <tr>
                <td>{{ geozone.name }}</td>
                <td>{{ types[geozone.type] }}</td>
                <td style="background-color: {{ geozone.color }}"></td>
                <td>
                    <a class="btn btn-xs btn-default" href="{{ path('geozone_edit', { 'id': geozone.id }) }}">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Editar
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
