{% extends 'GPSTrackBundle::layout_map.html.twig' %}

{% block content -%}
    <div class="col-sm-3">
        <h1>Crear GeoZone</h1>

        {{ form(form) }}

        <a class="btn btn-default" href="{{ path('geozone') }}">Volver</a>
    </div>
    <div class="col-sm-9 clearfix" id="map_canvas"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@GPSTrackBundle/Resources/js/geozone.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
