{% extends 'GPSAdminBundle::layout.html.twig' %}

{% block content -%}
    <h1>
        Clientes
                <a class="btn btn-primary" href="{{ path('cliente_new') }}">Nuevo</a>
            </h1>

    <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Ruc</th>
                <th>Contacto</th>
                <th>Telefonos</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes if cliente.nombre != 'admin' %}
            <tr>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.ruc }}</td>
                <td>{{ cliente.contacto }}</td>
                <td>{{ cliente.telefonos }}</td>
                <td>
                    <a class="btn btn-xs btn-{{ cliente.activo ? 'success' : 'default' }}"
                       href="{{ path('cliente_enable', {'id': cliente.id}) }}">
                        {{ cliente.activo ? 'Activo' : 'Inactivo' }}
                    </a>
                </td>
                <td>
                <a class="btn btn-xs btn-default" href="{{ path('cliente_edit', { 'id': cliente.id }) }}">Edit</a>                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
