{% extends 'GPSAdminBundle::layout.html.twig' %}

{% block content -%}
    <h1>Cliente</h1>

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>{{ cliente.id }}</dd>
        <dt>Nombre</dt>
        <dd>{{ cliente.nombre }}</dd>
        <dt>Ruc</dt>
        <dd>{{ cliente.ruc }}</dd>
        <dt>Contacto</dt>
        <dd>{{ cliente.contacto }}</dd>
        <dt>Telefonos</dt>
        <dd>{{ cliente.telefonos }}</dd>
        <dt>Activo</dt>
        <dd>{{ cliente.activo }}</dd>    </dl>

        <a class="btn btn-default" href="{{ path('cliente') }}">Volver</a>
<a class="btn btn-primary" href="{{ path('cliente_edit', { 'id': cliente.id }) }}">Editar</a>
{{ form(delete_form) }}
{% endblock %}
