{% extends 'GPSTrackBundle::layout_map.html.twig' %}

{% block title %}Escritorio | {{ parent() }}{% endblock %}

{% block content -%}
    <div class="col-sm-3" id="desktop-filter">
        {{ form_row(filterForm.groups) }}
        <div class="form-group clearfix">
            <label class="control-label pull-left">Opciones</label>

            <div class="btn-group pull-right">
                {{ form_widget(filterForm.auto) }}
                {{ form_widget(filterForm.center) }}
                {{ form_widget(filterForm.reset) }}
            </div>
        </div>
        <table class="table table-condensed table-bordered">
            <thead>
            <tr>
                <th class="col-sm-3">Placa</th>
                <th class="col-sm-2">Km/h</th>
                <th class="col-sm-1">
                    <span data-toggle="tooltip" data-original-title="Transmitiendo" data-placement="bottom"
                          class="glyphicon glyphicon-signal"></span></th>
                <th class="col-sm-1">
                    <span data-toggle="tooltip" data-original-title="Botón de pánico" data-placement="bottom"
                          class="glyphicon glyphicon-bell"></span></th>
                <th class="col-sm-1">
                    <span data-toggle="tooltip" data-original-title="Motor" data-placement="bottom"
                          class="glyphicon glyphicon-road"></span></th>
                <th class="col-sm-1">
                    <span data-toggle="tooltip" data-original-title="Batería desconectada" data-placement="bottom"
                          class="glyphicon glyphicon-flash"></span></th>
                <th class="col-sm-3"></th>
            </tr>
            </thead>
            <tbody>
            {% for vehicle in vehicles|reverse %}
                <tr data-vehicle="{{ vehicle.placa }}" data-groups="{{ vehicleGroups[vehicle.placa]|join(' ') }}">
                    <td>{{ vehicle.placa }}</td>
                    <td>{{ vehicle.speed }}</td>
                    <td>
                        <span class="icon icon-
                    {%- if date(vehicle.timestamp) > date('-15minutes') -%}on{% else %}off{% endif -%}
                    line"></span>
                    </td>
                    {% set states = vehicle.extendedInfo.state|to_bin %}
                    <td>
                        {% if states and states[0] %}
                            <span class="icon icon-panic"></span>
                        {% endif %}
                    </td>
                    <td>
                        {% if states and states[1] %}
                            <span class="icon icon-panic"></span>
                        {% endif %}
                    </td>
                    <td>
                        {% if states and states[2] %}
                            <span class="icon icon-panic"></span>
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs">
                            <span class="vehicle-show glyphicon glyphicon-screenshot"></span>
                        </button>
                        <button type="button" class="btn btn-primary btn-xs">
                            <span class="vehicle-follow glyphicon glyphicon-play"></span>
                        </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-9 clearfix" id="map_canvas"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@GPSTrackBundle/Resources/js/desktop.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(function () {
            loadTrackers(map, {{ allPlots|json_encode|raw }});
            map.fit();
            url = "{{ path('escritorio') }}";
            delay = {{ delay }};
            startLoop();
        });
    </script>
{% endblock %}
