{% spaceless %}
<table class="table table-condensed">
    <tbody>
    <tr class="active">
        <th>Vehículo</th>
        <th>{{ plot.placa }}</th>
    </tr>
    <tr>
        <th>Fecha</th>
        <td>{{ plot.timestamp|date('Y-m-d H:i:s') }}</td>
    </tr>
    <tr>
        <th rowspan="2">GPS</th>
        <td>{{ plot.latitude }}</td>
    </tr>
    <tr>
        <td>{{ plot.longitude }}</td>
    </tr>
    <tr>
        <th>Velocidad</th>
        <td>{{ plot.speed }}</td>
    </tr>
    <tr>
        <th>Rumbo</th>
        <td>{{ plot.course }}°</td>
    </tr>
    </tbody>
</table>
{% endspaceless %}