    /**
{% block phpdoc_method_header %}
     * Deletes a {{ entity }}.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/{id}", name="{{ route_name_prefix }}_delete")
     * @Method("DELETE")
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function deleteAction(Request $request, $id)
{% endblock method_definition %}
    {
{% block method_body %}
        $form = $this->createDeleteForm($id);
        $form->handleRequest($request);

        if ($form->isValid()) {
            $em = $this->getDoctrine()->getManager();
            ${{ entity|lower }} = $em->getRepository('{{ bundle }}:{{ entity }}')->find($id);

            if (!${{ entity|lower }}) {
                throw $this->createNotFoundException('Unable to find {{ entity }}.');
            }

            $em->remove(${{ entity|lower }});
            $em->flush();
        }
{% endblock method_body %}

{% block method_return %}
        return $this->redirect($this->generateUrl('{{ route_name_prefix }}'));
{% endblock method_return %}
    }

{% block form %}
    /**
     * Creates a form to delete a {{ entity }} by id.
     *
     * @param mixed $id The {{ entity|lower }} id
     *
     * @return \Symfony\Component\Form\Form The form
     */
    private function createDeleteForm($id)
    {
        return $this->createFormBuilder()
            ->setAction($this->generateUrl('{{ route_name_prefix }}_delete', array('id' => $id)))
            ->setMethod('DELETE')
            ->add('submit', 'submit', array(
                'label' => 'Eliminar',
                'attr' => array('class' => 'btn-danger')
            ))
            ->getForm()
        ;
    }
{% endblock form %}
