
    /**
{% block phpdoc_method_header %}
     * Displays a form to edit an existing {{ entity }}.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/{id}/edit", name="{{ route_name_prefix }}_edit")
     * @Method("GET")
     * @Template()
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function editAction($id)
{% endblock method_definition %}
    {
{% block method_body %}
        $em = $this->getDoctrine()->getManager();

        ${{ entity|lower }} = $em->getRepository('{{ bundle }}:{{ entity }}')->find($id);

        if (!${{ entity|lower }}) {
            throw $this->createNotFoundException('Unable to find {{ entity }}.');
        }

        $form = $this->createEditForm(${{ entity|lower }});
        $deleteForm = $this->createDeleteForm($id);
{% endblock method_body %}

{% block method_return %}
{% if 'annotation' == format %}
        return array(
            '{{ entity|lower }}' => ${{ entity|lower }},
            'form' => $form->createView(),
            'delete_form' => $deleteForm->createView(),
        );
{% else %}
        return $this->render('{{ bundle }}:{{ entity|replace({'\\': '/'}) }}:edit.html.twig', array(
            '{{ entity|lower }}' => ${{ entity|lower }},
            'form' => $form->createView(),
            'delete_form' => $deleteForm->createView(),
        ));
{% endif %}
{% endblock method_return %}
    }

{% block form %}
    /**
    * Creates a form to edit a {{ entity }}.
    *
    * @param {{ entity_class }} ${{ entity|lower }} The entity
    *
    * @return \Symfony\Component\Form\Form The form
    */
    private function createEditForm({{ entity_class }} ${{ entity|lower }})
    {
        $form = $this->createForm(new {{ entity_class }}Type(), ${{ entity|lower }}, array(
            'action' => $this->generateUrl('{{ route_name_prefix }}_update', array('id' => ${{ entity|lower }}->getId())),
            'method' => 'PUT',
        ));

        $form->add('submit', 'submit', array(
            'label' => 'Actualizar',
            'attr' => array('class' => 'btn-primary')
        ));

        return $form;
    }
{% endblock form %}
