    /**
{% block phpdoc_method_header %}
     * Edits an existing {{ entity }}.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/{id}", name="{{ route_name_prefix }}_update")
     * @Method("PUT")
     * @Template("{{ bundle }}:{{ entity }}:edit.html.twig")
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function updateAction(Request $request, $id)
{% endblock method_definition %}
    {
{% block method_body %}
        $em = $this->getDoctrine()->getManager();

        ${{ entity|lower }} = $em->getRepository('{{ bundle }}:{{ entity }}')->find($id);

        if (!${{ entity|lower }}) {
            throw $this->createNotFoundException('Unable to find {{ entity }}.');
        }

        $deleteForm = $this->createDeleteForm($id);
        $form = $this->createEditForm(${{ entity|lower }});
        $form->handleRequest($request);

        if ($form->isValid()) {
            $em->update(${{ entity|lower }});
            $em->flush();

            return $this->redirect($this->generateUrl('{{ route_name_prefix }}_edit', array('id' => $id)));
        }
{% endblock method_body %}

{% block method_return %}
{% if 'annotation' == format %}
        return array(
            '{{ entity|lower }}' => ${{ entity|lower }},
            'form' => $form->createView(),
            'delete_form' => $deleteForm->createView(),
        );
{% else %}
        return $this->render('{{ bundle }}:{{ entity|replace({'\\': '/'}) }}:edit.html.twig', array(
            '{{ entity|lower }}' => ${{ entity|lower }},
            'form' => $form->createView(),
            'delete_form' => $deleteForm->createView(),
        ));
{% endif %}
{% endblock method_return %}
    }
