{% extends "GPSTrackBundle::layout.html.twig" %}

{% block body_type 'login' %}

{% block body %}
    <form class="form-login" action="{{ path("fos_user_security_check") }}" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error|trans({}, 'FOSUserBundle') }}</div>
        {% endif %}
        <h2 class="form-login-heading">Ingreso</h2>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

        <input
                type="text"
                id="username"
                name="_username"
                value="{{ last_username }}"
                required="required"
                class="form-control"
                placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}"
                autofocus=""
                />

        <input
                type="password"
                id="password"
                name="_password"
                required="required"
                class="form-control"
                placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}"
                />
        <label class="checkbox" for="remember_me">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
            {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
        </label>

        <input
                type="submit"
                id="_submit"
                name="_submit"
                value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"
                class="btn btn-lg btn-primary btn-block"
                />
    </form>
{% endblock body %}
