<div class="col-sm-4">
    <h2>Actualizar Usuario</h2>

    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST">
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}</button>
    </form>
</div>