<div class="col-sm-4">
    <h1>Actualizar Grupo</h1>

    <form action="{{ path('fos_user_group_edit', {'groupname': groupname} ) }}" {{ form_enctype(form) }} method="POST"
          class="fos_user_group_edit">

        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="{{ 'group.edit.submit'|trans([], 'FOSUserBundle') }}"/>

    </form>

    <a class="btn btn-default" href="{{ path('fos_user_group_list') }}">Volver</a>
    <a class="btn btn-danger" href="{{ path('fos_user_group_delete', {'groupname': groupname}) }}">Eliminar</a>
</div>
