{% macro lines(groups, deep) %}
    {% import 'GPSUserBundle::role.html.twig' as role %}
    {% for group in groups %}
        <tr>
            <td>
                {% for i in range(1, deep) if deep %}
                    <span class="glyphicon glyphicon-chevron-right"></span>
                {% endfor %}
                {{ group.name }}
            </td>
            <td>{{ role.labels(group.roles) }}</td>
            <td>
                <a class="btn btn-xs btn-default"
                   href="{{ path('fos_user_group_edit', {'groupname': group.getName()}) }}">
                    <span class="glyphicon glyphicon-pencil"></span> Editar
                </a>
            </td>
        </tr>
        {% if group.groups|length %}
            {{ _self.lines(group.groups, deep + 1) }}
        {% endif %}
    {% endfor %}
{% endmacro %}

<h1>
    Grupos
    <a class="btn btn-primary" href="{{ path('fos_user_group_new') }}">Nuevo</a>
</h1>

<table class="table table-striped table-bordered table-hover table-condensed table-responsive">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Roles</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    {{ _self.lines(groups, 0) }}
    </tbody>
</table>
