<div class="col-sm-4">
    <h1>Crear Grupo</h1>

    <form action="{{ path('fos_user_group_new') }}" {{ form_enctype(form) }} method="POST" class="fos_user_group_new">
        {{ form_widget(form) }}
        <div>
            <input class="btn btn-primary" type="submit" value="{{ 'group.new.submit'|trans([], 'FOSUserBundle') }}"/>
        </div>
    </form>

    <a class="btn btn-default" href="{{ path('fos_user_group_list') }}">Volver</a>
</div>