{% extends '::base.html.twig' %}

{% block title %}ExpertGPS{% endblock %}

{% block body %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>

{% endblock body %}

{% block stylesheets %}
    {% stylesheets
    '@GPSSiteBundle/Resources/less/site.less'
    filter='lessphp, cssrewrite' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    '@GPSTrackBundle/Resources/js/vendor/jquery.js'
    '@bootstrap_js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
