{% extends 'GPSTrackBundle::layout.html.twig' %}

{% block body %}
    {{ include('GPSTrackBundle::navbar.html.twig') }}

    {{ include('GPSTrackBundle::alerts.html.twig') }}

    {% block content %}{% endblock %}

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_api_key }}&sensor=false&language={{ app.request.locale }}&libraries=geometry" type="text/javascript"></script>
    <script type="text/javascript">
        var mapType = "{{ app.user.opciones ? app.user.opciones.mapType : "ROADMAP" }}";
        var map;
    </script>
    {% javascripts
    '@GPSTrackBundle/Resources/js/app.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(function () {
            map = new Map('map_canvas', mapType);
            map.run();
        });
    </script>
{% endblock %}
