{% extends '::base.html.twig' %}

{% block title %}ExpertGPS{% endblock %}

{% block body %}
    {{ include('GPSTrackBundle::navbar.html.twig') }}

    <div class="container">
        {{ include('GPSTrackBundle::alerts.html.twig') }}

        {% block content %}{% endblock %}
    </div>

{% endblock body %}

{% block stylesheets %}
    {% stylesheets
    '@GPSTrackBundle/Resources/css/chosen.min.css'
    '@GPSTrackBundle/Resources/less/app.less'
    filter="cssrewrite" %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
    {% if form is defined %}
        {{ form_stylesheet(form) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var client = "{{ app.user ? app.user.cliente : "" }}";
    </script>
    {% javascripts
    '@GPSTrackBundle/Resources/js/vendor/jquery.js'
    '@bootstrap_js'
    '@GPSTrackBundle/Resources/js/vendor/chosen.jquery.min.js'
    '@GPSTrackBundle/Resources/js/vendor/jquery.tinysort.min.js'
    '@GPSTrackBundle/Resources/js/track.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% if form is defined %}
        {{ form_javascript(form) }}
    {% endif %}
{% endblock %}
