{% block label %}
    <span class="label label-primary">{{ text|title }}</span>
{% endblock label %}

{% macro labels(list) %}
    {% import _self as self %}
    {% for text in list %}
        {{ block('label') }}
    {% endfor %}
{% endmacro %}

