{% extends 'GPSTrackBundle::layout.html.twig' %}
{% import 'GPSTrackBundle::utils.html.twig' as utils %}

{% block content -%}
    <h1>
        Vehiculos
                <a class="btn btn-primary" href="{{ path('vehiculo_new') }}">Nuevo</a>
            </h1>

    <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
        <thead>
            <tr>
                <th>Placa</th>
                <th>CHIP del tracker</th>
                <th>Codigo del tracker</th>
                <th>Grupos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for vehiculo in vehiculos %}
            <tr>
                <td>{{ vehiculo.placa }}</td>
                <td>{{ vehiculo.tracker.chip }}</td>
                <td>{{ vehiculo.tracker.codigo }}</td>
                <td>{{ utils.labels(vehiculo.groups) }}</td>
                <td>
                <a class="btn btn-xs btn-default" href="{{ path('vehiculo_edit', { 'id': vehiculo.id }) }}">
                    <span class="glyphicon glyphicon-pencil"></span> Editar
                </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
