{% extends 'GPSTrackBundle::layout.html.twig' %}

{% block content -%}
    <div class="col-sm-4">
        <h1>Crear Vehiculo</h1>

        {{ form(form) }}

                <a class="btn btn-default" href="{{ path('vehiculo') }}">Volver</a>
    </div>
{% endblock %}
