{% extends 'GPSTrackBundle::layout.html.twig' %}

{% block content -%}
    <h1>Vehiculo</h1>

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>{{ vehiculo.id }}</dd>
        <dt>Placa</dt>
        <dd>{{ vehiculo.placa }}</dd>
        <dt>Marca</dt>
        <dd>{{ vehiculo.marca }}</dd>
        <dt>Modelo</dt>
        <dd>{{ vehiculo.modelo }}</dd>
        <dt>Anho</dt>
        <dd>{{ vehiculo.anho }}</dd>
        <dt>Color</dt>
        <dd>{{ vehiculo.color }}</dd>
        <dt>Seguro</dt>
        <dd>{{ vehiculo.seguro }}</dd>
        <dt>Seguroexpira</dt>
        <dd>{{ vehiculo.seguroExpira|date('Y-m-d H:i:s') }}</dd>
        <dt>Seguroconpania</dt>
        <dd>{{ vehiculo.seguroConpania }}</dd>
        <dt>Foto</dt>
        <dd>{{ vehiculo.foto }}</dd>
        <dt>Icono</dt>
        <dd>{{ vehiculo.icono }}</dd>    </dl>

        <a class="btn btn-default" href="{{ path('vehiculo') }}">Volver</a>
<a class="btn btn-primary" href="{{ path('vehiculo_edit', { 'id': vehiculo.id }) }}">Editar</a>
{{ form(delete_form) }}
{% endblock %}
