{% extends 'GPSTrackBundle::layout.html.twig' %}

{% block report_filter %}
    {{ render(controller('GPSTrackBundle:Report:filter')) }}
{% endblock report_filter %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var aAsc = [];
        $(function () {
            $('#report_filter_groups').on('change', function () {
                var options = $(this).children('option:selected');
                var vehicles = $('[data-vehicle]');
                if (options.length > 0) {
                    vehicles.each(function () {
                        $(this).hide();
                    });
                    options.each(function () {
                        $('[data-groups~="' + $(this).text() + '"]').each(function () {
                            $(this).show();
                        });
                    });
                } else {
                    vehicles.each(function () {
                        $(this).show();
                    });
                }
            });

            var table = $('table.sortable');

            table.find('thead th').siblings().on('click', function (e) {
                var target = $(e.currentTarget);
                target.data('order', target.data('order') == 'asc' ? 'desc' : 'asc');
                table.find('tbody>tr').tsort('td:eq(' + target.index() + ')', {order: target.data('order')});
                target.siblings().removeClass();
                target.removeClass().find('span').remove();
                target.addClass('table-' + target.data('order')).append('<span class="order"></span>');
            });
        });
    </script>
{% endblock %}
