{% extends 'GPSTrackBundle:Report:layout.html.twig' %}
{% import 'GPSTrackBundle::utils.html.twig' as utils %}

{% block content -%}
    <h1 class="pull-left">Reporte General</h1>

    {{ block('report_filter') }}

    <table class="table table-striped table-bordered table-hover table-condensed table-responsive sortable">
        <thead>
        <tr>
            <th>Placa</th>
            <th>IMEI</th>
            <th>Fecha</th>
            <th>Posición</th>
            {#<th>Dirección</th>#}
            <th>Velocidad</th>
            <th>Alertas</th>
            <th>Sensores</th>
            <th>Grupos</th>
            <th>Actividad</th>
        </tr>
        </thead>
        <tbody>
        {% for vehicle in vehicles %}
            <tr data-vehicle="{{ vehicle.placa }}" data-groups="{{ vehicleGroups[vehicle.placa]|join(' ') }}">
                <td>{{ vehicle.placa }}</td>
                <td>{{ vehicle.codigo }}</td>
                <td>{{ vehicle.timestamp|date('Y-m-d H:i:s') }}</td>
                <td>
                    <a href="{{ path('escritorio') }}?vehicle={{ vehicle.placa }}">
                        {{ vehicle.latitude }} / {{ vehicle.longitude }}
                    </a>
                </td>
                <td></td>
                <td>{{ vehicle.speed }}</td>
                <td></td>
                <td>{{ vehicle.extendedInfo.state|to_bin|join(', ') }}</td>
                <td>{{ utils.labels(vehicleGroups[vehicle.placa]) }}</td>
                <td>
                    <span class="label label-{% spaceless %}
                    {% if date(vehicle.timestamp) < date('-2 hour') %}
                    danger
                    {% elseif date(vehicle.timestamp) < date('-15 minutes') %}
                    warning
                    {% else %}
                    success
                    {% endif %}
                    {% endspaceless %}">
                        {{ vehicle.timestamp|date_diff('now', '%R%h horas') }}
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
