{% extends 'GPSTrackBundle::layout.html.twig' %}

{% block content -%}
    <h1>
        Trackers
        <a class="btn btn-primary" href="{{ path('tracker_new') }}">Nuevo</a>
    </h1>

    <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
        <thead>
        <tr>
            <th>Codigo</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Imei</th>
            <th>Chip</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for tracker in trackers %}
            <tr>
                <td>{{ tracker.codigo }}</td>
                <td>{{ tracker.marca }}</td>
                <td>{{ tracker.modelo }}</td>
                <td>{{ tracker.imei }}</td>
                <td>{{ tracker.chip }}</td>
                <td>
                    <a class="btn btn-xs btn-default" href="{{ path('tracker_edit', { 'id': tracker.id }) }}">
                        <span class="glyphicon glyphicon-pencil"></span> Editar
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
