{% extends 'GPSTrackBundle::layout.html.twig' %}

{% block content -%}
    <h1>Tracker</h1>

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>{{ tracker.id }}</dd>
        <dt>Codigo</dt>
        <dd>{{ tracker.codigo }}</dd>
        <dt>Marca</dt>
        <dd>{{ tracker.marca }}</dd>
        <dt>Modelo</dt>
        <dd>{{ tracker.modelo }}</dd>
        <dt>Imei</dt>
        <dd>{{ tracker.imei }}</dd>
        <dt>Chip</dt>
        <dd>{{ tracker.chip }}</dd>    </dl>

        <a class="btn btn-default" href="{{ path('tracker') }}">Volver</a>
<a class="btn btn-primary" href="{{ path('tracker_edit', { 'id': tracker.id }) }}">Editar</a>
{{ form(delete_form) }}
{% endblock %}
