{% extends 'GPSTrackBundle::layout.html.twig' %}
{% import 'GPSUserBundle::role.html.twig' as role %}

{% block content -%}
    <h1>
        Usuarios
        <a class="btn btn-primary" href="{{ path('usuario_new') }}">Nuevo</a>
    </h1>

    <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
        <thead>
        <tr>
            <th>Usuario</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Activo</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ role.labels(usuario.roles) }}</td>
                <td>
                    <a class="btn btn-xs btn-{{ usuario.enabled ? 'success' : 'default' }}"
                       href="{{ path('usuario_enable', {'username': usuario.username}) }}">
                        {{ usuario.enabled ? 'Activo' : 'Inactivo' }}
                    </a>
                </td>
                <td>
                    <a class="btn btn-xs btn-default"
                       href="{{ path('usuario_edit', { 'username': usuario.username }) }}">
                        <span class="glyphicon glyphicon-pencil"></span> Editar
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
