{% block extends %}
{{ "{% extends 'GPSTrackBundle::layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block content -%}" }}
    <div class="col-sm-4">
        <h1>Actualizar {{ entity }}</h1>

        {{ '{{ form(form) }}' }}

        {% set hide_edit, hide_delete = true, false %}
        {% include 'crud/views/others/record_actions.html.twig.twig' %}
    </div>
{{ "{% endblock %}" }}
{% endblock body %}
