{% block extends %}
{{ "{% extends 'GPSTrackBundle::layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block content -%}" }}
    <h1>{{ entity }}</h1>

    <dl class="dl-horizontal">
    {%- for field, metadata in fields %}

        <dt>{{ field|capitalize }}</dt>

        {%- if metadata.type in ['date', 'datetime'] %}

        <dd>{{ '{{ ' ~ entity|lower ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}' }}</dd>

        {%- else %}

        <dd>{{ '{{ ' ~ entity|lower ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</dd>

        {%- endif %}

    {%- endfor %}
    </dl>

    {% set hide_edit, hide_delete = false, false %}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}
{{ "{% endblock %}" }}
{% endblock body %}
