{% extends 'GPSTrackBundle::layout.html.twig' %}

{% block content -%}
    <h1>
        Alarms
                <a class="btn btn-primary" href="{{ path('alarm_new') }}">Nuevo</a>
            </h1>

    <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Name</th>
                <th>Groups</th>
                <th>Vehicles</th>
                <th>Signals</th>
                <th>Level</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for alarm in alarms %}
            <tr>
                <td><a href="{{ path('alarm_show', { 'id': alarm.id }) }}">{{ alarm.id }}</a></td>
                <td>{{ alarm.description }}</td>
                <td>{{ alarm.name }}</td>
                <td>{{ alarm.groups }}</td>
                <td>{{ alarm.vehicles }}</td>
                <td>{{ alarm.signals }}</td>
                <td>{{ alarm.level }}</td>
                <td>
                <a class="btn btn-xs btn-default" href="{{ path('alarm_show', { 'id': alarm.id }) }}">Show</a>
                <a class="btn btn-xs btn-default" href="{{ path('alarm_edit', { 'id': alarm.id }) }}">Edit</a>                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
