{% extends 'GPSTrackBundle::layout.html.twig' %}

{% block content -%}
    <h1>Alarm</h1>

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>{{ alarm.id }}</dd>
        <dt>Description</dt>
        <dd>{{ alarm.description }}</dd>
        <dt>Name</dt>
        <dd>{{ alarm.name }}</dd>
        <dt>Groups</dt>
        <dd>{{ alarm.groups }}</dd>
        <dt>Vehicles</dt>
        <dd>{{ alarm.vehicles }}</dd>
        <dt>Signals</dt>
        <dd>{{ alarm.signals }}</dd>
        <dt>Level</dt>
        <dd>{{ alarm.level }}</dd>    </dl>

        <a class="btn btn-default" href="{{ path('alarm') }}">Volver</a>
<a class="btn btn-primary" href="{{ path('alarm_edit', { 'id': alarm.id }) }}">Editar</a>
{{ form(delete_form) }}
{% endblock %}
